{{ define "main" }}
  {{ partial "nav.html" . }}
  {{ partial "hero.html" . }}
  {{ partial "marquee.html" . }}
  {{ partial "heat-battery.html" . }}
  {{ partial "charge.html" . }}
  {{ partial "materials.html" . }}
  {{ partial "validation.html" . }}
  {{ partial "safety.html" . }}
  {{ partial "gateway.html" . }}
  {{ partial "products.html" . }}
  {{ partial "market.html" . }}
  {{ partial "compare.html" . }}
  {{ partial "team.html" . }}
  {{ partial "partners.html" . }}
  {{ partial "contact.html" . }}
  {{ partial "footer.html" . }}
{{ end }}
